In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

result = df.apply(lambda x: x.sum())
result
# Apply function is used to do mathematical operation on axis of Dataframe or Series.

A     6
B    15
dtype: int64

In [7]:
s = pd.Series([1, 2, 3, 4])
result = s.apply(lambda x: x**2)
result

0     1
1     4
2     9
3    16
dtype: int64

In [ ]:
s = pd.Series([1, 2, 3, 4])
result = s.map(lambda x: x * 2)
result

# Map function is used for every element

0    2
1    4
2    6
3    8
dtype: int64

In [13]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
result = df.applymap(lambda x: x ** 2)
result
# Applymap is used for every element in the dataframe

C:\Users\Admin-\AppData\Local\Temp\ipykernel_15904\1163872286.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  result = df.applymap(lambda x: x ** 2)

   A   B
0  1  16
1  4  25
2  9  36

In [48]:
s = pd.Series(['Hello', 'WORLD', 'Python'])
s_lower = s.str.lower()
s_lower

0     hello
1     world
2    python
dtype: object

In [49]:
s_cap = s.str.capitalize()
s_cap

0     Hello
1     World
2    Python
dtype: object

In [51]:
s_title = s.str.title()
s_title

0     Hello
1     World
2    Python
dtype: object

In [52]:
s_len = s.str.len()
s_len

0    5
1    5
2    6
dtype: int64

In [53]:
s_slice = s.str.slice(0, 3)
s_slice

0    Hel
1    WOR
2    Pyt
dtype: object

In [55]:
s_contains = s.str.contains('Py')
s_contains

0    False
1    False
2     True
dtype: bool

In [56]:
s_find = s.str.find('o')
s_find

0    4
1   -1
2    4
dtype: int64

In [57]:
s_replace = s.str.replace('o', '0')
s_replace

0     Hell0
1     WORLD
2    Pyth0n
dtype: object

In [58]:
s_regex_replace = s.str.replace(r'[aeiou]', '*', regex=True)
s_regex_replace

0     H*ll*
1     WORLD
2    Pyth*n
dtype: object

In [59]:
s_split = s.str.split('o')
s_split

0     [Hell, ]
1      [WORLD]
2    [Pyth, n]
dtype: object

In [60]:
s_join = s.str.join('-')
s_join

0      H-e-l-l-o
1      W-O-R-L-D
2    P-y-t-h-o-n
dtype: object

In [61]:
s_match = s.str.match(r'[A-Z]')
s_match

0    True
1    True
2    True
dtype: bool

In [ ]:
s_extract = s.str.extract(r'([A-Z]+)')
s_extract

       0
0      H
1  WORLD
2      P

In [64]:
s_findall = s.str.findall(r'[aeiou]')
s_findall

0    [e, o]
1        []
2       [o]
dtype: object

In [65]:
s_pad = s.str.pad(10, side='both', fillchar='*')
s_pad

0    **Hello***
1    **WORLD***
2    **Python**
dtype: object